body{
    overflow-x: hidden;
}

.create-task-container{
    padding: 1% 8% 0% 8%;
}
#task-submit-btn{
    background: #504DFF;
    border-radius: 10px;
}
.create-task-title{
    font-weight: 800;
    color: #504DFF;
}